.heading{
    text-align:center;
    color:rgb(19, 32, 107);
    letter-spacing: 2px;
}

.formBar{
    h3{
        color:rgb(6, 6, 59);
    }
   .bar{
       input{
        margin-right: 30px;
       }
       
   }
}

.data{
    p{
        font-size: 16px;
        .count{
            font-size: 20px;
            margin-left: 15px;
        }
    }


}