<div class="main">
<div class="heading">
  <div class="head-box">
    <p>Vaccine Easy<p>
  </div>
  

</div>


</div>

<search-model [show]="show" [isRealTime]="isRealTime" [isOneTime]="isOneTime"></search-model>
<div class="search-opening">
    <div class="head" >
        <p>Lets find your Vaccine</p>
    </div>
    <div class="button-area">
        <div class="area1">
          <p class="normal">Click here for Real time data</p>
          <p class="alert">** Might get slow sometime **</p>
          <div>
            <button (click)="startRealTimeModel()">Find</button>
          </div>
          
        </div>

        <div class="area1">
          <p class="normal">Click here for Onetime time data</p>
          <p class="alert">** Can be refreshed **</p>
          <div>
            <button (click)="startOneTimeModel()">Find</button>
          </div>>
        </div>
        
    </div>
</div>
