<div class="box" *ngIf="show">
    <div class="formBar">
  <h3>Enter your pincode ( Only for 18-44)</h3>
  <h4 class="alert" *ngIf="isOneTime">Press Refresh to see updated Result</h4>
  <div class="bar">
    <input [(ngModel)]="pincode">
    <button (click)="start(pincode)">Find</button>
    <button (click)="start(pincode)" *ngIf="isOneTime" class="refresh-top">Refresh</button>

  </div>
  

</div>


<div *ngFor="let centre of centres" class="data">
   <b><span class="name">{{centre.name}}</span></b><p><span class="count">{{centre.sum}}</span></p>
</div>

<div class="ref">
    <button (click)="start(pincode)" *ngIf="isOneTime && centres.length>0" class="refresh-bottom">Refresh</button>
</div>

</div>
