.box{
   background-color: #6cc2ff;
   .formBar{
    padding: 20px;
    .alert{
        color:red;
        text-align: center;
    }
    h3{
        text-align: center;
        color: whitesmoke;
        letter-spacing: 2px;
        font-family: system-ui;
    }
    .bar{
        justify-content: center;
        display: flex;
        input{
            margin-right: 10px;
            height: 15px;
        }
        button{
            padding: 0px 22px;
        }
        .refresh-top{
            margin-left: 10px;
        }
    }
   }

   .data{
       padding: 10px;

       text-align: center;

       .count{
        color: red;
        font-size: 26px;
       }
   }
   .ref{
       text-align: center;
       margin-bottom: 10px;
       .refresh-bottom{
        padding: 0px 22px;
       }
   }
   

}